<section class="authentication">
  <div class="authentication-box">
    <h1 class="title">
    <%= link_to root_url do %>
    muster<span>d8</span>
    <% end %>
    </h1>
	<h2>Resend confirmation instructions</h2>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend confirmation instructions" %>
	  </div>
	<% end %>

	<div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>