<section class="account-container">
	<div data-grid="6">
		<div class="tailored">
			<h2>Hey <span id="js-visitor-name"><%= @preference.fullname %></span>, here are some partners tailored for you</h2>
			<% (1..6).each do |w| %>
			<% if w % 2 == 0 %>
			<%= image_tag 'woman1.jpg', class: 'tailored-image' %>
			<% else %>
			<%= image_tag 'woman2.jpg', class: 'tailored-image' %>
			<% end %>
			<% end %>
			<p><a href="">View more</a></p>
		</div>
		<div class="profile">
			<p>Your profile is:</p>
			<h4 class="<%= @percentage < 45 ? 'bad' : @percentage < 75 ? 'fair' : 'ok' %>"><%= @percentage %>%</h4> complete
			<div class="profile-shape"></div>
			<div class="profile-description">
				With a complete profile, your potential partners will find you easily.
				<% if @percentage < 100 %>
				 <%= link_to 'Complete now', preference_path %>
				<% end %>
			</div>
		</div>
	</div>
	<div data-grid="6">
		<%= form_tag "/search", method: 'get', class: 'search-form' do %>
			<%= label_tag :q, 'Search for a partner' %>
			<%= text_field_tag :q, '', placeholder: 'e.g Anabele' %>
			<%= submit_tag "Search" %>
		<% end %>
		<div class="chat">
			<h3>Chat</h3>
			<div class="chat-box">
				<ul>
					<% if @users.present? %>
					<% @users.each_with_index do |user, index| %>
					<li class="start-conversation" data-sid="<%= current_user.id %>" data-rip="<%= user.id %>">
						<small class="online"></small>
						<strong><%= Preference.find(user.id).fullname.present? ? Preference.find(user.id).fullname : user.email %></strong>
						<span>Hi! remember you owe me some pizza?</span>
						<time>Thu 21 may</time>
					</li>
					<% end %>
					<% else %>
					<li>You've not had any chat heads up yet. Start a conversation with someone from their profile</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</section>