<section class="account-container">
	<div data-grid="6">
		<div class="tailored">
			<h2>Hello <span id="js-visitor-name"><%= @preference.fullname %></span>,</h2>
			<% if @users.present? %>
			<div id="owl-plugin" class="owl-carousel">
			<% @users.take(20).each_with_index do |user, index| %>
			  <a href="<%= root_url %>user/<%= Preference.find_by(user_id: user.id).username.blank? ? user.id : Preference.find_by(user_id: user.id).username %>">
				<%= image_tag Preference.find_by(user_id: user.id).avatar.url(:thumb), class: 'tailored-image' %>
				</a>
			<% end %>
			</div>
			<% end %>
		</div>
		<div class="profile">
			<p>Your profile is:</p>
			<h4 class="<%= @percentage < 45 ? 'bad' : @percentage < 75 ? 'fair' : 'ok' %>"><%= @percentage %>%</h4> complete
			<div class="profile-shape"></div>
			<div class="profile-description">
				With a complete profile, your potential partners will find you easily.
				<% if @percentage < 100 %>
				 <%= link_to 'Complete now', preference_path %>
				<% end %>
			</div>
		</div>
		<div class="places">
			<h2>Date locations nearby</h2>
			<ul class="places-list">
				<% unless @coordinates.blank? %>
				<% @client.spots(@coordinates[0], @coordinates[1], types: @placeTypes).each do |x| %>
					<li><strong><%= x.name %></strong> - <span><%= x.vicinity %></span> <%= image_tag x.icon %></li>
				<% end %>
				<% else %>
				<li>It's taking too long to fetch places. Check your network</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div data-grid="6">
		<%= form_tag "/search", method: 'get', class: 'search-form' do %>
			<%= label_tag :q, 'Search for a partner' %>
			<%= text_field_tag :q, '', placeholder: 'e.g Anabele' %>
			<%= submit_tag "Search" %>
		<% end %>
		<div class="chat">
			<h3>Chat</h3>
			<div class="chat-box">
				<ul>
					<% if @conversations.any? %>
					<% if @users.count == 0 %>
					<li>It appears there are no other users on this application. Spread the word</li>
					<% end %>
					<% @users.each_with_index do |user, index| %>
					<% if Conversation.between(current_user.id, user.id).exists? %>
					<li class="start-conversation" data-sid="<%= current_user.id %>" data-rip="<%= user.id %>" 
						data-cid="<%= Conversation.between(current_user.id, user.id).first.id %>">
						<small class="<%= User.find(user.id).online? ? 'online' : '' %>"></small>
						<strong><%= Preference.find_by(user_id: user.id).fullname.present? ? Preference.find(user.id).fullname : user.email %></strong>
						<span><%= Conversation.between(current_user.id, user.id).first.messages.last.body %></span>
						<time>
							<%= Conversation.between(current_user.id, user.id).first.messages.last.created_at.strftime('%v %R') %>
						</time>
					</li>
					<% end %>
					<% end %>
					<% else %>
					<li>You've not had any chat heads up yet. Start a conversation with someone from their profile</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</section>