<section class="user_profile">
	<div class="user_profile-wrapper clearfix">
		<aside class="user_profile-aside">
			<div class="user_profile-box">
				<div class="user_profile-avatar">
					<%= link_to @user.avatar.url(:medium), 'data-lightbox' => 'profile', 'data-title' => "#{@user.fullname}" do %>
					<%= image_tag @user.avatar.url(:medium) %>
					<% end %>
				</div>
				<h2 id="js-profile-name"><%= @user.fullname ? @user.fullname : 'No name' %></h2>
				<p class="user_profile-engagement ghost">
					<svg viewBox="0 0 1024 1024">
						<path class="path1" d="M704 512c58.88 0 106.24-47.787 106.24-106.667s-47.36-106.667-106.24-106.667c-58.88 0-106.667 47.787-106.667 106.667s47.787 106.667 106.667 106.667zM384 469.333c70.613 0 127.573-57.387 127.573-128s-56.96-128-127.573-128c-70.613 0-128 57.387-128 128s57.387 128 128 128zM704 597.333c-78.293 0-234.667 39.253-234.667 117.333v96h469.333v-96c0-78.080-156.373-117.333-234.667-117.333zM384 554.667c-99.627 0-298.667 49.92-298.667 149.333v106.667h298.667v-96c0-36.267 14.293-99.627 101.12-148.053-37.12-7.893-73.173-11.947-101.12-11.947z"></path>
					</svg>
					Engaged to <a href="">Manoela</a>
				</p>
				<% if user_signed_in? && current_user.id == @user.user_id %>
				<div class="user_profile-counters clearfix">
					<div>
						<%= link_to follower_path(@user.username.blank? ? @user.user_id : @user.username) do %>
						conversations<h6><%= Conversation.involving(User.find(@user.user_id)).count %></h6>
						<% end %>
					</div>
					<div>
						<%= link_to date_path(@user.username.blank? ? @user.user_id : @user.username) do %>
						appointments<h6><%= Appointment.involving(User.find(@user.user_id)).count %></h6>
						<% end %>
					</div>
				</div>
				<% end %>
				<div class="user_profile-buttons">
					<% if user_signed_in? %>
						<% if @user.user_id.eql? current_user.id %>
						<button class="button" id="js-editProfile">Edit Profile</button>
						<% elsif Chat.between(current_user.id, @user.user_id).present? && Chat.between(current_user.id, @user.user_id).first.accepted === false && Chat.between(current_user.id, @user.user_id).first.recipient_id == @user.user_id %>
						<button class="disabled button">Request sent</button>
						<% elsif Chat.between(current_user.id, @user.user_id).present? && Chat.between(current_user.id, @user.user_id).first.accepted === false %>
						<button class="verified button" id="js-arequest" data-id="<%= Chat.between(current_user.id, @user.user_id).first.id %>" data-rid="<%= Chat.between(current_user.id, @user.user_id).first.sender_id %>">Accept chat request</button>
						<button class="warn button" id="js-drequest" data-id="<%= Chat.between(current_user.id, @user.user_id).first.id %>" data-rid="<%= @user.id %>">Decline Request</button>
						<template id="js-acceptedReturn">
							<button class="button start-conversation" data-sid="<%= current_user.id %>" data-rip="<%= @user.id %>" data-cid="<%= Conversation.between(current_user.id, @user.user_id).exists? ? Conversation.between(current_user.id, @user.user_id).first.id : '' %>">Send a message</button>
							<button class="button" data-remodal-target="date">Arrange a date</button>
							<button class="warn button" id="blockUser" data-id="<%= Chat.between(current_user.id, @user.user_id).first.id %>" data-rid="<%= @user.id %>">Block chat</button>
						</template>
						<% elsif Chat.between(current_user.id, @user.user_id).present? %>
						<button class="button start-conversation" data-sid="<%= current_user.id %>" data-rip="<%= @user.id %>" data-cid="<%= Conversation.between(current_user.id, @user.user_id).exists? ? Conversation.between(current_user.id, @user.user_id).first.id : '' %>">Send a message</button>
						<button class="button" data-remodal-target="date">Arrange a date</button>
						<button class="warn button" id="blockUser" data-id="<%= Chat.between(current_user.id, @user.user_id).first.id %>" data-rid="<%= @user.id %>">Block chat</button>
						<% else %>
						<button class="button" id="js-crequest" data-id="<%= @user.user_id %>">Send chat request</button>
						<% end %>
					<% end %>
				</div>
			</div>
			<nav>
				<%= link_to home_path do %>
				<svg viewBox="0 0 1024 1024">
					<path d="M512 32l-512 512 96 96 96-96v416h256v-192h128v192h256v-416l96 96 96-96-512-512zM512 448c-35.346 0-64-28.654-64-64s28.654-64 64-64c35.346 0 64 28.654 64 64s-28.654 64-64 64z"></path>
				</svg>
				Home
				<% end %>
			</nav>
		</aside>
		<div class="user_profile-content">
			<div class="user_profile-gallery">
				<% if user_signed_in? && current_user.id == @user.user_id %>
				<svg viewBox="0 0 1040 1024" data-remodal-target="gallery">
					<path d="M851.328 946.784l-83.968-23.040-0.192-232.256 80.32 22.592 115.808-432.288-586.624-157.184-38.656 144.192h-66.176l59.616-222.464 710.176 190.272-190.304 710.176zM737.248 1024h-737.248v-735.264h737.248v735.264zM673.312 352.672h-609.376v447.52h609.376v-447.52zM251.168 671.776l73.056-118.144 73.056 73.632 100.448-151.264 105.056 260.288h-465.792l59.36-118.72 54.816 54.208zM207.488 546.752c-26.496 0-47.968-21.44-47.968-47.936s21.472-47.936 47.968-47.936 47.936 21.44 47.936 47.936-21.44 47.936-47.936 47.936z"></path>
				</svg>
				<% end %>
			</div>
			<div class="user_profile-review">
				<h3>About</h3>
				<%= form_for @user, remote: true, html: { multipart: true } do |f| %>
				<p id="js-userStory"><%= @user.about.present? ? @user.about : 'No information about user' %></p>
				<input type="hidden" name="preference[fullname]" id="nameCloneInput">
				<% token_tag form_authenticity_token %>
				<%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg, image/jpg',id: 'uploadAvatar', class: 'invisible' %>
				<ul class="editable user_profile-details">
					<li><strong data-value="<%= @user.username %>" id="usernameLabel">Username:</strong> <%= @user.username %></li>
					<li><strong data-value="<%= @user.gender %>" id="genderLabel">Gender:</strong> <%= @user.gender %></li>
					<li><strong data-value="<%= @user.height %>" id="heightLabel">Height:</strong> <%= @user.height %></li>
					<li><strong data-value="<%= @user.weight %>" id="weightLabel">Weight:</strong> <%= @user.weight %></li>
					<li><strong data-value="<%= @user.age %>" id="ageLabel">Age:</strong> <%= @user.age %></li>
					<li><strong data-value="<%= @user.body_type %>" id="body_typeLabel">Body type:</strong> <%= @user.body_type %></li>
					<li><strong data-value="<%= @user.complexion %>" id="complexionLabel">Complexion:</strong> <%= @user.complexion %></li>
					<li><strong data-value="<%= @user.religion %>" id="religionLabel">Religion:</strong> <%= @user.religion %></li>
					<li><strong data-value="<%= @user.location %>" id="locationLabel">Lives in:</strong> <%= @user.location %></li>
					<li><strong data-value="<%= @user.career %>" id="careerLabel">Occupation:</strong> <%= @user.career %></li>
				</ul>
				<% end %>
				<h3>Dating Preference</h3>
				<ul class="user_profile-details">
					<li><strong>Interested in:</strong> <%= @user.relationship_type.present? ? "#{@user.relationship_type} relationships".capitalize : '' %></li>
					<li><strong>Complexion:</strong> <%= "#{@user.partner_complexion}".gsub('-',' ').capitalize %></li>
					<li><strong>Religion:</strong> <%= "#{@user.partner_religion}".gsub('-',' ').capitalize %></li>
					<li><strong>Body type:</strong> <%= "#{@user.partner_body_type}".gsub('-',' ').capitalize %></li>
				</ul>
				<% if user_signed_in? %>
					<% if @user.id.eql? current_user.id %>
						<%= link_to edit_user_registration_path do %>
							<button class="button topmag20 js-profile-unwanted">Account Settings</button>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>
<!-- Modal for Arranging dates -->
<div class="remodal" id="js-remodal-appointment" data-remodal-id="date">
  <h1>Pick a date location</h1>
  <ul class="places-list" id="js-date-picks">
		<% unless @coordinates.blank? %>
		<% @client.spots(@coordinates[0], @coordinates[1], types: @placeTypes).each do |x| %>
			<li data-lat="<%= x.lat %>" data-lng="<%= x.lng %>" data-types="<%= x.types %>">
				<strong><%= x.name %></strong> - <span><%= x.vicinity %></span> <%= image_tag x.icon %>
			</li>
		<% end %>
		<% else %>
		<li>It's taking too long to fetch places. Check your network</li>
		<% end %>
	</ul>
	<span id="js-place-selected"></span>
	<%= form_for @appointment, remote: true do |f| %>
	<%= f.hidden_field :latitude %>
	<%= f.hidden_field :longitude %>
	<%= f.hidden_field :sender_id, value: user_signed_in? ? current_user.id : '' %>
	<%= f.hidden_field :recipient_id, value: @user.user_id %>
	<%= f.hidden_field :place %>
	<div class="date-select invisible">
		<%= f.label :date, "When:" %>
		<%= f.text_field :date, class: 'date' %>
	</div>
	<% end %>
  <br>
  <a class="remodal-cancel" href="#">Cancel</a>
  <a class="remodal-confirm" href="#">OK</a>
</div>

<!-- modal for gallery selection -->
<div class="remodal" data-remodal-id="gallery">
	<h1 class="gallery-title">Photo Gallery</h1>
	<em gallery-description>Select photos to upload</em>
	<%= form_for @photo, html: {multipart: true} do |f| %>
		<div class="fileUpload">
			<span>Select image</span>
			<%= f.file_field :photo, class: 'upload' %>
		</div>
	<% end %>
	<div class="gallery-preview">
		<% unless @photos.exists? %>
			<p class="gallery-alert">There are no images uploaded yet</p>
		<% else %>
			<% @photos.each do |image| %>
				<%= image_tag image.photo.url(:thumb) %>
			<% end %>
		<% end %>
		<%= image_tag Photo.find(1).photo %>
	</div>
  <br>
</div>