<div class="filters-wrapper">
	<%= form_tag "/search", method: 'get', class: 'filters-search' do %>
		<%= text_field_tag :q, '', placeholder: 'e.g Anabele', class: 'filters-search-input' %>
		<%= submit_tag "Go", class: 'filters-search-submit' %>
		<span class="filters-search-icon">
			<svg viewBox="0 0 1024 1024">
				<path d="M640 0.16c-212.064 0-384 171.936-384 384 0 64.832 16.224 125.856 44.64 179.456l-267.008 266.944 0.224 0.192c-20.864 20.512-33.856 48.928-33.856 80.512 0 62.368 50.56 112.928 112.928 112.928 31.52 0 59.968-12.992 80.48-33.888l-0.064-0.064 266.912-266.88c53.632 28.512 114.752 44.8 179.744 44.8 212.064 0 384-171.936 384-384s-171.936-384-384-384zM153.44 950.304c-10.304 10.688-24.576 17.376-40.512 17.376-31.2 0-56.48-25.248-56.48-56.448 0-15.936 6.72-30.176 17.376-40.512l-0.288-0.256 258.112-258.112c22.56 30.432 49.44 57.312 79.808 79.936l-258.016 258.016zM640 704.192c-176.704 0-320-143.328-320-320 0-176.704 143.296-320 320-320 176.672 0 320 143.296 320 320 0 176.672-143.328 320-320 320zM640 160.16c8.8 0 16 7.168 16 16s-7.2 16-16 16c-106.048 0-192 85.984-192 192 0 8.832-7.168 16-16 16s-16-7.168-16-16c0-123.712 100.256-224 224-224z"></path>
			</svg>
		</span>
	<% end %>
		<label for="">Filters:</label><br>
		<select name="" id="" class="filter" data-filter="gender">
			<option selected value="a">Gender</option>
			<option ng-repeat="gender in genders" value="{{gender.value}}">{{gender.label}}</option>
		</select>
		<select name="" id="" class="filter" data-filter="age">
			<option selected value="a">Age range</option>
			<option ng-repeat="ageRange in ageRanges" value="{{ageRange.value}}">{{ageRange.range}}</option>
		</select>
		<select name="" id="" class="filter" data-filter="religion">
			<option selected value="a">Religion</option>
			<option ng-repeat="religion in religions" value="{{religion.value}}">{{religion.name}}</option>
		</select>
</div>
<section class="search-area">
	<h2>Search Results...</h2>
	<% if @results.count == 0 %>
	<p>There were no results found</p>
	<% else %>
	<p><%= "#{@results.count} result#{@results.count < 2? '':'s'}" %> found for <%= params[:q] %></p>
	<div class="showcase clearfix">
		<% @results.each do |user| %>
		<div class="showcase-item">
			<%= image_tag user.avatar(:thumb) %>
			<h3 data-gender="<%= user.gender %>"
				<% if user.age.to_i < 30 %>
				data-age="1"
				<% elsif user.age.to_i < 40 %>
				data-age="2"
				<% elsif user.age.to_i < 51 %>
				data-age="3"
				<% elsif user.age.to_i < 71 %>
				data-age="4"
				<% end %>
				data-religion="<%= user.religion %>">
				<a href="<%= root_url %>user/<%= Preference.find_by(user_id: user.id).username.blank? ? user.id : Preference.find_by(user_id: user.id).username %>">
					<%= user.fullname %>
				</a>
			</h3>
			<div class="user_profile-buttons">
				<% if Chat.between(current_user.id, user.user_id).present? && Chat.between(current_user.id, user.user_id).first.accepted === false %>
				<button class="button disabled">Request pending</button>
				<% elsif Chat.between(current_user.id, user.user_id).present? %>
				<button class="warn button" id="blockUser" data-id="<%= Chat.between(current_user.id, user.user_id).first.id %>" data-rid="<%= user.id %>">Block chat</button>
				<% else %>
				<button class="blue button" id="js-crequest" data-id="<%= user.user_id %>">Send chat request</button>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</section>
